.subscribesContainer {
    margin-top: 5px;
    margin-bottom: 5rem; 
    margin-inline: auto;
    /* background: url(../../public/images/rukayya.JPG); */
    background-size: cover;
}
.subscribe{
    background-image: url(../../public/images/black-grid-bg.png);
    background-size: cover;
    background-position: center;
}

@media (max-width:600px) {
    .subscribesContainer {
        height: max-content;
        background: #222;
        /* padding-bottom: .5rem; */
    }
}